{{ partial "header.html" . }}

<header class="mx-2 my-4 gap-y-2">
  <div class="article-meta">
    <h1 class="title">Tag: {{ .Title | markdownify }}</h1>
  </div>
  <div class="divider"></div>

 </header>


<main class="page-content">
  {{ .Content }}
  <ul>
    {{ $pages := .Pages }}
    {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
    {{ range (where $pages "Section" "!=" "") }}
    <li>
      <span class="date">{{ .Date.Format "2006/01/02" }}</span>
      <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    </li>
    {{ end }}
  </ul>
  
</main>



{{ partial "footer.html" . }}
