{{ partial "header.html" . }}

<header class="page-header">
  <div class="article-meta">
    <h1 class="title">{{ .Title }}</h1>
    {{ with .Params.summary }}
    <p class="single-summary">{{ . }}</p>
    {{ end }}
    <p class="single-readtime">
      {{ with .Params.author }}
      <span class="author">{{ . }}</span>
      {{ end }}
      <span class="date">{{ .Date.Format "Jan 2, 2006" }}</span>
      <span class="readtime">{{ .ReadingTime }} min read</span>
    </p>
    {{ if .Params.tags }}
    <div class="single-tags">
      {{ range .Params.tags }}
      <a href="/tags/{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    </div>
    {{ end }}
    <hr />
  </div>

</header>


<main class="page-content">
  {{ .Content }}
</main>

{{ partial "footer.html" . }}
